.container {
    display: flex;
    align-items: center;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0,114,188,1);
}

.left-column {
    display: flex;
    flex: 1 0 350px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    border: 3px grey groove;
    border-radius: 5px;
   
    box-shadow: 2px 2px 4px rgba(0,114,188,1);
}

.right-column {
    display: flex;
    align-items: baseline;
    margin-left: 10px;
    background-image: url(../../../assets/images/background-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-self: stretch;
    flex: 1 0 350px;
    border: 3px grey groove;
    border-radius: 5px;
   
    box-shadow: 2px 2px 4px rgba(0,114,188,1);
}

h1 {
    text-shadow: 2px 2px 4px rgba(165,42,42,1);
}

.logo-text {
    font-size: 20px;
    margin-left: 20px;
    text-shadow: 1px 1px 2px rgba(165,42,42,1);
}

.logo {
    align-self: center;
    height: 80px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
    /* width: 400px; */
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

.form-control {
    padding-left: 10px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 2px black groove;
    text-shadow: 1px 1px 2px rgba(192,192,192);
    box-shadow: 1px 1px 2px rgba(192,192,192);
}

.button-submit {
    align-self: center;
    width: 300px;
    height: 60px;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgba(0,114,188,1);
}

.button-submit:hover, .form-control-checkbox:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0,114,188,1);
}

.button-submit:disabled:hover {
    box-shadow: none;
    cursor: no-drop;
}

.h-text {
    margin: 20px;
}

.alert {
    height: 1em;
}

.alert-danger {

    padding: 5px;
    border-radius: 5px;
    border: #F7907E 1px groove;
    background-color: #E9D2C0;
    font-size: 15px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; 
  }

#email.error  {
    border-left: 5px solid #a94442; 
}

.valid {
    border-left: 5px solid #42A948; 
}

#email.invalid {
    border-left: 5px solid #a94442; 
}

.form-control-checkbox {
    height: 30px;
    width: 30px;
    text-shadow: 1px 1px 2px rgba(0,114,188,1);
    margin-right: 10px;
}

.form-group-checkbox {
    display: flex;
    align-items: center;
    margin: 10px;
}

label {
    font-size: 15px;
}

.route-link {
    text-decoration: unset;
    color: black;
    font-weight: 900;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(165,42,42,1);
}

.line {
    align-self: stretch;
    border: 1px black groove;
    height: 1px;
    background-color: black;
    margin: 10px;
    box-shadow: 2px 2px 4px rgba(0,114,188,1);
}