<!-- Input:  selectedClient -->
<!-- Output: submitEvent(Client)
             cancelEvent -->


<div class="container">
    <!-- main elem -->
    <div class="selector-wrapper">
        <div class="header-wrapper">
            <h3>Select Client</h3> 
                
            <!-- input for search -->
            <form>
                <input
                    type="text"
                    name="search"
                    placeholder="🔍"
                    [ngModel]
                    (ngModelChange)="filterClients($event)"
                >
            </form>

            <table>
                <tr class="head-row">
                    <div class="head-wrapper" >
                        <td class="img-cell"></td>
                        <td class="surname-cell">Surname</td>
                        <td class="name-cell">Name</td>
                        <td class="email-cell">Email</td>
                        <div calss="scroll"></div>
                    </div>
                </tr>
            </table>

        </div>

        <div class="content-wrapper">
            <!-- clients list -->
            <table>
                    <tr *ngFor="let client of filteredClients"
                    
                        class="table-item">
    
                        <!-- wrapper for selected -->
                        <div class="wrapper" 
                        [class.selected]="client.id === selectedClient?.id"
                        (click)="selectedClient=client">
                            <td class="img-cell"><img src="../../../../../assets/images/foto-card.png"></td>
                            <td class="surname-cell">{{client.surname}}</td>
                            <td class="name-cell">{{client.name}}</td>
                            <td class="email-cell">{{client.email}}</td>
                        </div>
                    </tr>
            </table>
        </div>

        <div class="buttons-wrapper">
            <button class="button"
            (click)="cancelEvent.emit()">
                Cancel
            </button>
            
            <button class="button"
            (click)="submitEvent.emit(selectedClient)"
            [disabled]="!selectedClient"
                >
                Next
            </button>
        </div>

    </div>
</div>




