:host {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-basis: 900px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 900px;
}


