:host {
    display: flex;
    justify-content: center;
    height: calc(100vh - 100px);
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.control-panel {
    height: 100px;
}

.content-wrapper {
    height: calc(100% - 100px);
}

.no-deals {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 1px 1px 2px rgba(0,114,188,1);
}


/* buttons styls */
button {
 padding: 5px;
 font-size: 15px;
 border-radius: 5px;
 text-shadow: 1px 1px 2px rgba(0,114,188,1);
 margin: 5px;
}

button:hover{
 cursor: pointer;
 box-shadow: 2px 2px 4px rgba(0,114,188,1);
 text-shadow: -1px -1px 2px rgba(0,114,188,1);
}