
<div class="container">
        <app-deals-control-panel class="control-panel"></app-deals-control-panel>

    <!-- <div class="no-deals" *ngIf="(deals$ | async) && !(deals$ | async).length">
        <h1>No Deals</h1>
        <button 
        class=add-button
        routerLink="/deals/adding">+ Add first deal
        </button>
    </div> -->

        <app-deals-list
        class="deals-list" 
        *ngIf="(deals$ | async) && (deals$ | async).length"
        [deals]="filteredDeals$ | async"
        ></app-deals-list>
</div>


