:host {
    width: 100%;
}

/* .container {
    display: flex;
    flex: 1 1 auto;
    height: 50px;
    align-items: center;
    color: white;
} */

img {
    height: 80%;
    margin-right: 10px;
}

/* h4 {
    margin: 0 20px 0 20px;
} */

