/* :host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container {
    flex: 0 1 350px;
} */


.container {
    height: 100%;
    overflow-y: auto;
}

mat-card {
    width: 350px;
    margin: 30px auto;
}

.form-control {
    margin-bottom: 15px;
    width: 100%;
}

.mat-card-actions {
    display: flex;
    justify-content: center;
}

.mat-card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-card-footer a{
    margin-bottom: 16px;
}

.button {
    width: 100%;
}

