<div class="container">
    <mat-card elevation="20">
        <mat-card-header *ngIf="!registration.status">
          <mat-card-title color="primary">Registration</mat-card-title>
          <mat-card-subtitle>Don't have an account? Create free account</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content *ngIf="!registration.status">
            <form [formGroup]="registrationForm">
                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Fullname</mat-label>
                    <input 
                        matInput 
                        placeholder="Surname Name"
                        type="text" 
                        formControlName="fullname"
                        maxlength="30"
                        >
                    <mat-icon matSuffix>face</mat-icon>
                    <!-- <mat-hint>Type surname and name</mat-hint> -->
                    <mat-error *ngIf="registrationForm.controls['fullname'].invalid && (registrationForm.controls['fullname'].touched)">
                        Incorrect Fullname
                    </mat-error>
                </mat-form-field>
                <br>
    
                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input 
                        matInput 
                        placeholder="your@email"
                        type="text" 
                        autocomplete="email"
                        formControlName="email"
                        >
                    <mat-icon matSuffix>alternate_email</mat-icon>

                    <mat-error *ngIf="( registrationForm.controls['email'].errors 
                                && (registrationForm.controls['email'].errors.email || registrationForm.controls['email'].errors.required)) 
                                && (registrationForm.controls['email'].touched)">
                        Incorrect email
                    </mat-error>
                    <mat-error *ngIf=" registrationForm.controls['email'].errors 
                                && registrationForm.controls['email'].errors.toggleValidator">
                        This email already exist
                    </mat-error>
                </mat-form-field>
                <br>
    
                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input 
                        matInput 
                        placeholder="Password"
                        [type]="isHidePassword ? 'password' : 'text'"
                        autocomplete="new-password"
                        formControlName="password"
                        >
                    <button mat-icon-button matSuffix 
                        (click)="isHidePassword = !isHidePassword" 
                        [attr.aria-label]="'Hide password'" 
                        [attr.aria-pressed]="isHidePassword">
                        <mat-icon>{{isHidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>

                    <mat-error *ngIf="registrationForm.controls['password'].invalid 
                                && (registrationForm.controls['password'].touched)">
                        Password must be longer than 5 characters
                    </mat-error>
                </mat-form-field>
    
                <br>
                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Rate</mat-label>
                    <input 
                        matInput
                        placeholder="rate"
                        type="text" 
                        formControlName="rate"
                        >
                    <mat-icon matSuffix>attach_money</mat-icon>

                    <mat-error *ngIf="registrationForm.controls['rate'].invalid 
                            && (registrationForm.controls['rate'].touched)">
                        Incorrect number
                    </mat-error>
                </mat-form-field>
                <br>
    
                <mat-checkbox 
                    formControlName="terms"
                    color="primary"
                    [value]="false"
                    required>
                    I accept terms and Conditions
                </mat-checkbox>
            </form>
        </mat-card-content>
        
        <mat-card-actions *ngIf="!registration.status">
            <button mat-raised-button
                class="button"
                color="primary"
                [disabled]="!registrationForm.valid"
                (click)="onSubmit()"
            >
            Create Account
            </button>
        </mat-card-actions>
    
        <mat-card-footer >
            <mat-card-subtitle>{{registration.text}}</mat-card-subtitle>
            <a routerLink="/authorization/login" mat-flat-button >Sign in</a>
        </mat-card-footer>
    </mat-card>
</div>
