<div class="container">

    <!-- table -->
    <table class="table">
    <tbody>
        <!-- head row -->
        <tr class="head-row">
            <td class="img-cell"></td>
            <td class="home-cell"
                [class.sort-up]="sortingMethod === 'HOME_UP'"
                [class.sort-down]="sortingMethod === 'HOME_DOWN'"
                (click)="setSortingField('HOME')">Home
            </td>
            <td class="street-cell"
                [class.sort-up]="sortingMethod === 'STREET_UP'"
                [class.sort-down]="sortingMethod === 'STREET_DOWN'"
                (click)="setSortingField('STREET')">Street
                
            </td>
            <td class="city-cell"
                [class.sort-up]="sortingMethod === 'CITY_UP'"
                [class.sort-down]="sortingMethod === 'CITY_DOWN'"
                (click)="setSortingField('CITY')">City</td>
            <td class="state-cell"
                [class.sort-up]="sortingMethod === 'STATE_UP'"
                [class.sort-down]="sortingMethod === 'STATE_DOWN'"
                (click)="setSortingField('STATE')">State</td>
            <td class="price-cell"
                [class.sort-up]="sortingMethod === 'PRICE_UP'"
                [class.sort-down]="sortingMethod === 'PRICE_DOWN'"
                (click)="setSortingField('PRICE')">Price</td>
            <td class="details-cell"></td>
            <td class="delete-cell"></td>
        </tr>
    
        <!-- content rows -->
        <tr *ngFor="let home of homes">
            <td class="img-cell"><img src="../../../../assets/images/foto-house.png"></td>
            <td class="home-cell">{{home.home}}</td>
            <td class="street-cell">{{home.street}}</td>
            <td class="city-cell">{{home.city}}</td>
            <td class="state-cell">{{home.state}}</td>
            <td class="price-cell">{{home.price | currency: 'CAD':'symbol-narrow':'1.0-0':'fr'}}</td>
            <td class="details-cell"
            (click)="onDetailsButton(home.id)">Details</td> 
            <td class="delete-cell"
            (click)="onDeleteButton(home)">Delete
             </td>
         </tr>
    </tbody>
    </table>

        <!-- popup menu -->
    <div class="popup-wrapper" *ngIf="isPopup">
        <div class="popup"  >
            <h3 class=popup-header>Delete home!</h3>
            <h3>{{homeForDelete.price | currency: 'CAD':'symbol-narrow':'1.0-0':'fr'}}</h3>
            <p>{{homeForDelete.home + ' ' + homeForDelete.street}}</p>
            <p>{{homeForDelete.city + ' ' + homeForDelete.state}}</p>
            <h3 class=popup-header>Are you sure?</h3>
            <div class="buttons-wrapper">
                <button 
                    type=button 
                    (click)="deleteHome(homeForDelete.id)"
                    class="yes-button">
                    Yes
                </button>
        
                <button 
                    (click)="isPopup=false"
                    type=button 
                    class="no-button">
                    No
                </button>
            </div>
        </div>
    </div>
</div>

<!-- cover div -->
<div *ngIf="isPopup" class="cover-div">
</div>

