<div class="container">
    <h1>Registration</h1>
    
    <!-- Registration form -->
    <form #registrationForm="ngForm"
        *ngIf = "!registration.status"
        (ngSubmit)="email.reset(user.email); onSubmit();"> 
        
        <p class="h-text"> Don't have an account? Create free account</p>

        <!-- FullName field -->
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input 
                #fullname="ngModel"
                type="text" 
                class="form-control" 
                id="fullName"
                [(ngModel)] = "user.fullName"
                name="fullName"
                placeholder="Enter your Name and Surname"
                pattern="[A-Za-zА-Яа-яЁё]+\s[A-Za-zА-Яа-яЁё]+"
                required
               >
               <!-- NoValid alert -->
            <div class="alert">
                <div class="alert-danger" *ngIf="fullname.invalid && (fullname.touched)">Incorrect Full Name</div>
                <div> </div>
            </div>       
        </div>
      
        <!-- Email field -->
        <div class="form-group">
            <label for="email">Email</label>
            <input 
                #email="ngModel"
                type="email" 
                class="form-control" 
                id="email" 
                required
                [(ngModel)]="user.email"
                name="email"
                placeholder="Enter your email"
                pattern= "\w[[A-Za-z0-9_]*[@]\w\S+$"
                [class.invalid]="!isUniqueEmail && email.pristine"  
                >

                <!-- NoValid alert -->
            <div class="alert" 
                >
                <div class="alert-danger" 
                *ngIf="email.invalid && (email.touched)">Incorrect email</div>
                <!-- No unique email -->
                <div class="alert-danger" 
                *ngIf="!isUniqueEmail && email.pristine" >
                    This email already exists
                </div> 
                <div> </div>
            </div>   
        </div>

        <!-- Password field  -->
        <div class="form-group">
            <label for="paswword">Password</label>
            <input 
                #password="ngModel"
                autocomplete="new-password"
                type="password" 
                class="form-control" 
                id="paswword" 
                required
                minlength="6"
                [(ngModel)]="user.password"
                name="password"
                placeholder="Enter your password"
                >

                <!-- No valid alert -->
                <div class="alert" 
                >
                <div class="alert-danger" 
                    *ngIf="password.invalid && (password.touched)">Password must be longer than 5 characters</div>
                <div> </div>
                </div>     
        </div>

        <!-- Rate field -->
        <div class="form-group">
            <label for="rate">Rate</label>
            <input 
                #rate="ngModel"
                type="text" 
                class="form-control" 
                id="rate"
                [(ngModel)]="user.rate"
                required
                pattern="[1-9]\d*"
                name="rate"
                placeholder="Enter rate">

                <!-- No valid alert -->
                <div class="alert">
                <div class="alert-danger" 
                   *ngIf="rate.invalid && (rate.touched)">Incorrect number</div>
                <div> </div>
                </div>     
        </div>

        <!-- Terms checkbox -->
        <div class="form-group-checkbox">
            <input type="checkbox" class="form-control-checkbox" id="terms"
                [(ngModel)]="isAcceptedTerms"
                required
                name="terms">I accept terms and Conditions
        </div>

        <!-- Submit button -->
      <button type="submit" class="button-submit"
        [disabled]="!registrationForm.form.valid"
        >Create Account</button>

    </form>


    <!-- Successfull registration -->
    <div>
        <p class="h-text">{{registration.text}}
            <a routerLink='/login' class="route-link">Sign in</a>
            please
        </p>
        
    </div>
</div>
