:host {
    display: flex;
    justify-content: center;
    height: 100%;

}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.control-panel {
    position: fixed;
    z-index: 9;
    width: 1300px;
    justify-self: stretch;
}

.content-wrapper {
    margin-top: 100px;
}