
<div class="container">
    <div class="control-panel">
        <app-homes-control-panel></app-homes-control-panel>
    </div>

    <div class="no-homes" *ngIf="isDataReady && !homes.length">
        <h1>No Homes</h1>
        <button 
        class=add-button
        routerLink="/homes/adding">+ Add first home
        </button>
    </div>

    <div class="content-wrapper" *ngIf="isDataReady && homes.length">
        <app-homes-list
        [homes]="filteredHomes"
        ></app-homes-list>
    </div>
</div>
