

<!-- <div class="container" [ngSwitch]="viewMode$ | async">
    <div class=list-view *ngSwitchCase="'list'">
        <app-deals-table
        [deals]="deals"
        >
        </app-deals-table>        
    </div> -->

    <!-- sorting menu -->
    <!-- <div class="sorting-menu" *ngSwitchCase="'cards'">
        <span class="main">Sort by:</span>

        <button class="sorting-button" 
        type="button"
        [class.sort-up]="(sortingMethod$ | async)  === 'DATE_UP'"
        [class.sort-down]="(sortingMethod$ | async) === 'DATE_DOWN'"
        (click)="changeSortingMethod('DATE')"
        >Date</button>

        <button class="sorting-button" 
        type="button"
        [class.sort-up]="(sortingMethod$ | async) === 'PRICE_UP'"
        [class.sort-down]="(sortingMethod$ | async) === 'PRICE_DOWN'"
        (click)="changeSortingMethod('PRICE')">Price</button>
    </div> -->
    <!-- cards-view -->
    <!-- <div class="card-view" *ngSwitchCase="'cards'">
        <h2 *ngIf="!deals?.length">No deals</h2>
        <app-deal-card 
        *ngFor="let deal of deals"
        [deal]="deal"
        >
        </app-deal-card>
    </div>
</div> -->


<div class="container" [ngSwitch]="viewMode$ | async">
    <div class=list-view *ngSwitchCase="'list'">
        <app-deals-table
            [deals]="deals">
        </app-deals-table>        
    </div>

    <table matSort (matSortChange)="changeSortingMethod($event)"
        [matSortActive]="(sortingConf$ | async).active"
        [matSortDirection]="(sortingConf$ | async).direction"
        *ngSwitchCase="'cards'"
        class="sorting-panel">
        
        <tr>
            <!-- <th>Sort: </th> -->
            <th mat-sort-header="date" disableClear>
                Date
            </th>
            <th mat-sort-header="price" disableClear>Price</th>
        </tr>
    </table>

    <div class="card-view mat-elevation-z8" *ngSwitchCase="'cards'">
            <app-deal-card 
            *ngFor="let deal of deals"
            [deal]="deal"
            >
            </app-deal-card>
        </div>
    
</div>
