<div class="header">
    <div class="header-content-wrapper">
        <app-header></app-header>
    </div>
</div>

<div class="content-wrapper">
    <div class="container">

        <div class="navigation-wrapper" [class.displayed]="isNavigationPanel">
            <app-navigation *ngIf="isNavigationPanel"></app-navigation>
        </div>
        
        
        <div class="router-outlet" [@routeAnimations]="prepareRoute(outlet)">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
    </div>
</div>

<div class="footer">
    <div class="header-content-wrapper">
        <app-footer></app-footer>
    </div>
</div>

<div class="message-wrapper">
    <app-status-message 
        *ngIf="isStatusMessage"
        [message]="statusMessage"></app-status-message>    
</div>

