/* :host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 0 0 50px;
    background-color: #0747A6;
    z-index: 9;
    box-shadow: 0 0px 4px 2px rgba(192, 192, 192, 1);
}

.footer {
    bottom: 0;
    width: 100%;
    justify-self: last baseline;
    background-color:#C1C1C1;
    box-shadow: 0px 0px 4px 2px rgba(0, 114, 188, 1);
    z-index: 9;
}

.content-wrapper {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    height: calc(100% - 100px);
}

.header-content-wrapper {
    max-width: 1500px;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
}



.container {
    max-width: 1500px;
    padding-right: 20px;
    display: flex;
    flex: 1 1 auto;
    justify-content: stretch;
    box-sizing: border-box;
    box-shadow: 0px -4px 4px 4px rgba(0, 114, 188, 1);
    background-color: #F4F5F7;
    overflow-x: auto;
}

.navigation-wrapper {
    flex: 1 0 165px;
    margin-right: 20px;
}

.displayed {
    background-color: #F5FAFF;
    box-shadow: 4px -4px 4px 4px rgba(192, 192, 192, 1);
}



.message-wrapper {
    align-self: center;
}
 */

 .router-outlet {
    width: calc(100% - 150px);
    height: 100%;
}

.container {
    display: flex;
    width: 100%;
    height: calc(100vh - 130px);
}

/* app-navigation {
    width: 150px;
} */
