:host {
    display: flex;
    flex-grow: 1;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.content-wrapper {
    box-sizing: border-box;
    overflow-y: scroll;
    display: flex;
    flex: 1 0 auto;
    max-height: calc(100% - 40px);
    padding: 15px;
    box-shadow: 4px -4px 4px 4px rgba(192, 192, 192, 1);
    background-color: #F5FAFF;
}

.head-wrapper {
    height: 40px;
    display: flex;
    padding: 0 15px 0 15px;
    align-items: center;
}

.scroll {
    width: 17px;
}

/* table's styles */
.table {
    display: flex;
}

.table, tbody {
    flex-grow: 1;
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(192,192,192);
}

/* rows style */
.head-row {
    border: none;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(165,42,42,1);
    box-shadow: none;
}

tr {
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    border: 3px grey groove;
    border-radius: 5px;
    background-color: #F4F5F7;
    box-shadow: 2px 2px 4px rgba(0,114,188,1);
    margin-bottom: 10px;
}

/* tooltip */
.tooltip {
    position: relative;
  }
  
.tooltip .tooltip-text {
    visibility: hidden;
    width: 70px;
    text-align: center;
    color: rgba(255,255,255,1);
    position: absolute;
    bottom: 7px;
    left: 0px;
    z-index: 1;
}

.tooltip:hover .profile-img {
      background-image: url('../../../../../assets/images/foto-card-blue.png');
}
  
.tooltip:hover .tooltip-text {
    visibility: visible;
}

.tooltip:hover {
    visibility: visible;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0,114,188,1);
}

/* cell-style */
td:not(.profile-cell) {
    padding: 5px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.head-row .surname-cell:hover, .head-row .name-cell:hover {
    cursor: pointer;
}

.img-cell {
    flex: 0 0 70px;
    margin-right: 10px;
}

.surname-cell {
    flex: 3 1 200px;
    text-shadow: 2px 2px 4px rgba(165,42,42,1);
}

.name-cell {
    flex: 3 1 150px;
    text-shadow: 2px 2px 4px rgba(165,42,42,1);
}

.email-cell {
    flex: 2 1 100px;
}

.phone-cell {
    flex: 0 1 120px;
}

.profile-cell {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-shadow: 1px 1px 2px rgba(0,114,188,1);
    flex: 1 1 140px;
}


/* sorting arrow */
.sort-up::before {
    content: '↑';
}

.sort-down::before {
    content: '↓';
}


/* buttons */
.profile-cell button {
    white-space: normal;
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgba(0,114,188,1);
    margin: 1px;
}

.profile-cell button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0,114,188,1);
}

/* delete cell */
.delete-cell {
    flex: 0 0 25px;
    align-self: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    text-shadow: 1px 1px 2px rgba(165, 16, 16, 1);
}

.delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
}

.delete-button:hover {
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(165, 16, 16, 1);
    box-shadow: 2px 2px 4px rgba(165, 42, 42, 1);
}


/* logo styles */

.profile-img {
    height: 60px;
    background-image: url('../../../../../assets/images/foto-card.png');
    background-size: contain;
}



/* popup menu styles */
.popup-menu {
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex; 
    z-index: 9900;
    position: absolute;
}