:host {
    display: flex;
    flex-grow: 1;
}

.container {
    display: flex;
    flex-grow: 1;
}

/* table's styles */
.table {
    flex-grow: 1;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(192,192,192);
}

.head-row {
    border: none;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(165,42,42,1);
    box-shadow: none;
}

td {
    padding: 10px;
}

.head-row .phone-cell, .head-row .email-cell {
    font-size: 25px;
}

.head-row .surname-cell:hover, .head-row .name-cell:hover {
    cursor: pointer;
}

.phone-cell, .email-cell {
    font-size: 15px;
    flex: 2 1 150px;
}

.sort-up::before {
    content: '↑';
}

.sort-down::before {
    content: '↓';
}

.name-cell, .surname-cell {
    flex: 3 1 200px;
    text-shadow: 2px 2px 4px rgba(165,42,42,1);
}

.profile-cell {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-shadow: 1px 1px 2px rgba(0,114,188,1);
    flex: 1 1 200px;
}

.profile-img:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0,114,188,1);
}

.profile-cell button {
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgba(0,114,188,1);
    margin: 1px;
}

.profile-cell button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0,114,188,1);
}

.delete-cell {
    align-self: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    text-shadow: 1px 1px 2px rgba(165, 16, 16, 1);
}

.delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
}

.delete-button:hover {
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(165, 16, 16, 1);
    box-shadow: 2px 2px 4px rgba(165, 42, 42, 1);
}





.img-cell {
    flex-grow: 0;
    flex-basis: 80px;
}

img {
    height: 60px;
}

tr {
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    border: 3px grey groove;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0,114,188,1);
}

/* popup menu styles */
.popup-menu {
    align-items: center;
    justify-content: center;
    
    top: 0;
    left: 0;
   
    height: 100%;
    width: 100%;
    display: flex; 
    z-index: 9900;
    position: absolute;
}