a {
    padding: 0;
}

.profile-cell {
    max-width: 100px;
}

.phone-cell {
    max-width: 150px;
}

.actions-cell {
    max-width: 240px;
    flex-shrink: 0;
}

.container {
    height: 100%;
    max-width: 100%;
    overflow: auto;
}

.table {
    height: calc(100vh - 93px - 128px - 50px);
    min-width: 1100px;
    margin: 15px 15px 15px 15px;
}

th.mat-sort-header-sorted {
    color: black;
  }

h4.info {
   margin: 0;
}