<div class="container">
    <table class="table">
    <tbody>
        <tr class="head-row">
            <td class="img-cell"></td>
            <td class="surname-cell"
                [class.sort-up]="sortMethod === 'surname_up'"
                [class.sort-down]="sortMethod === 'surname_down'"
                (click)="onSurnameClick()">Surname
            </td>
            <td class="name-cell"
                [class.sort-up]="sortMethod === 'name_up'"
                [class.sort-down]="sortMethod === 'name_down'"
                (click)="onNameClick()">Name
                
            </td>
            <td class="email-cell">Email</td>
            <td class="phone-cell">Phone</td>
            <td class="profile-cell"></td>
            <td class="delete-cell"></td>
        </tr>
        <tr *ngFor="let client of clients">
            <td class="img-cell"><img src="../../../../assets/images/foto-card.png"></td>
            <td class="surname-cell">{{client.surname}}</td>
            <td class="name-cell">{{client.name}}</td>
            <td class="email-cell">{{client.email}}</td>
            <td class="phone-cell">{{client.phone}}</td>
            <td class="profile-cell"
            (click)="onProfileButton(client.id)">Profile</td>
            <td class="delete-cell"
            (click)="onDeleteButton(client.id)">Delete</td>
        </tr>
    </tbody>
    </table>
</div>

