<!-- <div class="popup-wrapper">
    <div class="popup">
        <div class="header-wrapper">
            <h3>{{title}}</h3> 
            <div 
            class="close-button"
            (click)="closeList()"
            >X</div>
    
            <form>
                <input
                    type="text"
                    name="search"
                    placeholder="🔍"
                    [ngModel]
                    (ngModelChange)="filterHomes($event)"
                >
            </form>

            <table>
                <tr class="head-row">
                    <div class="head-wrapper" >
                        <td class="img-cell"></td>
                        <td class="home-cell">№</td>
                        <td class="street-cell">Street</td>
                        <td class="city-cell">City</td>
                        <td class="state-cell">State</td>
                        <div class="scroll"></div>
                    </div>
                </tr>
            </table>
            
        </div>

       
        <div class="content-wrapper" *ngIf="isDataReady" >
            <h3 class="no-homes" *ngIf="!homes.length && isAddingHomesView">No available homes</h3>
            <h3 class="no-homes" *ngIf="!homes.length && isBoughtHomesView">No bought homes</h3>
            <h3 class="no-homes" *ngIf="!homes.length && !isBoughtHomesView && !isAddingHomesView">No viewed homes</h3>
            <table *ngIf="homes.length">
                    <tr *ngFor="let home of filteredHomes"
                    
                        class="table-item">
    
                        <div class="wrapper" 
                        (click)="onClickHome(home)">
                            <td class="img-cell">
                                <img src="../../../../../assets/images/foto-house.png">
                                <img class="sold-img" src="../../../../../assets/images/sold.png" 
                                    *ngIf="home.clientOwner">
                            </td>
                            <td class="home-cell">{{home.home}}</td>
                            <td class="street-cell">{{home.street}}</td>
                            <td class="city-cell">{{home.city}}</td>
                            <td class="state-cell">{{home.state}}</td>
                        </div>
                    </tr>
            </table>
        </div>

    </div>
</div>

<div class="cover-div">
    
</div>

 -->

<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <mat-form-field  appearance="outline">
        <mat-label>Search</mat-label>
        <input type="text" matInput placeholder="search" 
        name="searching"
        [ngModel]
        (ngModelChange)="filterHomes($event)">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    
    <mat-table 
    [dataSource]="filteredHomes" 
    class="mat-elevation-z8 table" 
    >

<ng-container matColumnDef="home">
  <mat-header-cell  class="home-cell"*matHeaderCellDef>
       № </mat-header-cell>
  <mat-cell *matCellDef="let home" class="home-cell"> {{home.home}} </mat-cell>
</ng-container>

<ng-container matColumnDef="street">
  <mat-header-cell *matHeaderCellDef> Street </mat-header-cell>
  <mat-cell *matCellDef="let home"> {{home.street}} </mat-cell>
</ng-container>

<ng-container matColumnDef="city">
  <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
  <mat-cell *matCellDef="let home"> {{home.city}} </mat-cell>
</ng-container>

<ng-container matColumnDef="state" >
    <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
    <mat-cell *matCellDef="let home"> {{home.state}} </mat-cell>
</ng-container>

<ng-container matColumnDef="status">
    <mat-header-cell class="status-cell" 
        *matHeaderCellDef 
        > 
        Status 
    </mat-header-cell>
    <mat-cell class="status-cell" *matCellDef="let home"> 
        <span *ngIf="!home.clientOwner">on sale</span>
        <span *ngIf="home.clientOwner">sold</span>

    </mat-cell>
</ng-container>


<mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;" 
    (click)="onClickHome(row)"
    [class.selected]="isAdding && row.id === selectedHomeId"
    [class.sale]="row.clientOwner"></mat-row>

</mat-table>

  
</div>
<div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="false" cdkFocusInitial>Cnacel</button>
    <button mat-raised-button 
        *ngIf="isAdding"
        color="primary" 
        [mat-dialog-close]="selectedHomeId"
        [disabled]="!selectedHomeId">
        Submit</button>
  </div>
