<div class="container" [ngSwitch]="viewMode$ | async">
    <div class=list-view *ngSwitchCase="'list'">
        <app-homes-table
            [homes]="homes">
        </app-homes-table>        
    </div>

    <table matSort (matSortChange)="changeSortingMethod($event)"
        [matSortActive]="(sortingConf$ | async).active"
        [matSortDirection]="(sortingConf$ | async).direction"
        *ngSwitchCase="'cards'"
        class="sorting-panel">
        
        <tr>
            <th mat-sort-header="home" disableClear matTooltip = "Sort homes by №">№</th>
            <th mat-sort-header="street" disableClear matTooltip = "Sort homes by street">Street</th>
            <th mat-sort-header="city" disableClear matTooltip = "Sort homes by city">City</th>
            <th mat-sort-header="state" disableClear matTooltip = "Sort homes by state">State</th>
            <th mat-sort-header="price" disableClear matTooltip = "Sort homes by price">Price</th>
        </tr>
    </table>

    <div class="card-view mat-elevation-z8" *ngSwitchCase="'cards'">
        <app-home-card 
            *ngFor="let home of homes"
            [home]="home">
        </app-home-card>
    </div>
</div>



