
.container {
    height: 100%;
    max-width: 100%;
    overflow: auto;
}

.table {
    margin: 15px 15px 15px 15px;
}

th.mat-sort-header-sorted {
    color: black;
}

.sale {
    background-color: cornsilk;
}

.selected {
    background-color: gray;
}

mat-row:hover {
    cursor: pointer;
}