<div class="popup-wrapper">
    <!-- main elem -->
    <div class="popup">
        <div class="header-wrapper">
            <h3>Select Client who viewed Home</h3> 
            <div 
            class="close-button"
            (click)="closeList()"
            >X</div>
    
            <!-- input for search -->
            <form>
                <input
                    type="text"
                    name="search"
                    placeholder="🔍"
                    [ngModel]
                    (ngModelChange)="filterClients($event)"
                >
            </form>

        </div>

        <div class="content-wrapper">
            <!-- clients list -->
            <table>
                    <tr class="head-row">
                        <div class="head-wrapper" >
                            <td class="img-cell"></td>
                            <td class="surname-cell">Surname</td>
                            <td class="name-cell">Name</td>
                            <td class="email-cell">Email</td>
                        </div>
                        <div class="delete-button"
                        *ngIf="!isAddingMode">
                        </div>
                    </tr>
               
                    <tr *ngFor="let client of filteredClients"
                    
                        class="table-item">
    
                        <!-- wrapper for selected -->
                        <div class="wrapper" 
                        (click)="onClickClient(client)">
                            <td class="img-cell"><img src="../../../../../assets/images/foto-card.png"></td>
                            <td class="surname-cell">{{client.surname}}</td>
                            <td class="name-cell">{{client.name}}</td>
                            <td class="email-cell">{{client.email}}</td>
                        </div>
    
                        <!-- delete button -->
                        <div class="delete-button"
                            (click)="onClickDelete(client)"
                            *ngIf="!isAddingMode"
                        >X</div>
                    </tr>
            </table>
        </div>

    </div>
</div>

<div class="cover-div">
    
</div>

<!-- popup question -->
<app-popup-question
    *ngIf = "isPopupQuestion"
    [title] = "title"
    [text] = "text"
    (cancelEvent)="onCancel()"
    (submitEvent)="onSubmit()"
>

</app-popup-question>
