<!-- <div class="popup-wrapper">
    <div class="popup">
        <div class="header-wrapper">
            <h3>{{title}}</h3> 
            <div 
            class="close-button"
            (click)="closeList()"
            >X</div>
    
            <form>
                <input
                    type="text"
                    name="search"
                    placeholder="🔍"
                    [ngModel]
                    (ngModelChange)="filterClients($event)"
                >
            </form>

            <table>
                <tr class="head-row">
                    <div class="head-wrapper" >
                        <td class="img-cell"></td>
                        <td class="surname-cell">Surname</td>
                        <td class="name-cell">Name</td>
                        <td class="email-cell">Email</td>
                        <div class="scroll"></div>
                    </div>
                </tr>
                
            </table>
        </div>

        <div class="content-wrapper">
            <table>
                    <tr *ngFor="let client of filteredClients"
                        class="table-item">
    
                        <div class="wrapper" 
                        (click)="onClickClient(client)">
                            <td class="img-cell"><img src="../../../../../assets/images/foto-card.png"></td>
                            <td class="surname-cell">{{client.surname}}</td>
                            <td class="name-cell">{{client.name}}</td>
                            <td class="email-cell">{{client.email}}</td>
                        </div>
                    </tr>
            </table>
        </div>

    </div>
</div>

<div class="cover-div">
    
</div>

<app-popup-question
    *ngIf = "isPopupQuestion"
    [title] = "title"
    [text] = "text"
    (cancelEvent)="onCancel()"
    (submitEvent)="onSubmit()"
>

</app-popup-question> -->
