<div class="container">
    <div class="tooltip" (click)="onProfileButton()">
        <span class="tooltip-text">Profile</span>
        <div class="profile-img"
             >
        </div>
    </div>
    
    <h3>{{client.surname}}</h3>
    <h3>{{client.name}}</h3>
    <p>{{client.email}}</p>
    <p>{{client.phone}}</p>

    <div class="delete-button"
        (click)="isPopupDeleting=true"
    >X</div>
    
    <div class="buttons-wrapper">
        <button class="profile-button"
        (click)="openBoughtHomes()">Bought homes</button>

        <button class="view-button"
        (click)="openHomes()">Viewed Homes</button>

        <button class="add-button"
        (click)="addHome()"
        >Add viewed Home</button>
    </div>

    <!-- adding home list popup -->
    <div class="popup-homes-list" *ngIf="isPopupListHomes">
        <app-homes-list-selector 
            [client]="client"
            (closeEvent)="isPopupListHomes = false"
            [isAddingHomesView]="isAddingHomesView"
            [isBoughtHomesView]="isBoughtHomesView"
        >
        </app-homes-list-selector>
    </div>

    <!-- remove client popup -->
    <div class="popup-deleting" *ngIf="isPopupDeleting">
        <app-clients-popup-deleting
            [client]="client"
            (cancelEvent)="isPopupDeleting=false"
            (submitEvent)="deleteClient($event)"
        >
        </app-clients-popup-deleting>

    </div>
</div>



