<div class="container">
    <img class="profile-img" src="../../../../../assets/images/foto-card.png"
        (click)="onProfileButton()" >
    <h3>{{client.name}}</h3>
    <h3>{{client.surname}}</h3>
    <p>{{client.email}}</p>
    <p>{{client.phone}}</p>

    <div class="delete-button"
    
    (click)="onDeleteButton()"
    >X</div>
    
    <div class="buttons-wrapper">
        <button class="profile-button"
        (click)="openBoughtHomes()">Bought homes</button>

        <button class="view-button"
        (click)="openHomes()">Viewed Homes</button>

        <button class="add-button"
        (click)="addHome()"
        >Add viewed Home</button>
    </div>

    <!-- adding home list popup -->
    <div class="popup-homes-list" *ngIf="isPopupListHomes">
        <app-homes-list-selector 
            [client]="client"
            (closeEvent)="isPopupListHomes = false"
            [adding]="isAdding"
            [isViewedHomes]="isViewedHomes"
        >

        </app-homes-list-selector>
    </div>

    <!-- remove home list popup -->
    <div class="popup-deleting" *ngIf="isPopupDeleting">
        <app-clients-popup-deleting
            [client]="client"
            (cancelEvent)="isPopupDeleting=false"
            (submitEvent)="deleteClient($event)"
        >
        </app-clients-popup-deleting>

    </div>
</div>



