<mat-grid-list cols="3" rowHeight="100%"> 
    <mat-grid-tile >
        <button mat-raised-button color="primary" 
            matTooltip = "Add new home"
            routerLink="/homes/adding">
            <mat-icon>add</mat-icon>
            Add Home
        </button>
    </mat-grid-tile>
        
    <mat-grid-tile class="input-wrapper">
        <mat-form-field  appearance="outline">
            <mat-label>Search</mat-label>
            <input type="text" matInput placeholder="search" 
            name="searching"
            [ngModel]
            (ngModelChange)="changeFilter($event)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <button mat-raised-button [matMenuTriggerFor]="menu" 
            color="basic"
            matTooltip = "Change view">
            <mat-icon>menu</mat-icon>
            View mode
        </button>
        <mat-menu  #menu="matMenu" color="primary">
            <button mat-menu-item (click)="onActivateCardView()">
                <mat-icon>grid_on</mat-icon>
                Cards
                <mat-icon *ngIf="(viewMode$ | async) ==='cards'" color="primary">check</mat-icon></button>
            <button mat-menu-item (click)="onActivateListView()">
                <mat-icon >list</mat-icon>
                List
                <mat-icon *ngIf="(viewMode$ | async) ==='list'" color="primary">check</mat-icon></button>
        </mat-menu>
    </mat-grid-tile>
</mat-grid-list>

