<div class="control-panel">
    <button 
    class=add-button
    (click)="onAddButtonClick()">+ Add Home
    </button>

    <div class="search-wrapper">
        <form >
            <input type=text 
        name="search"
        placeholder="🔍"
        [ngModel] = ""
        (ngModelChange)="changeFilter($event)"> 
        </form>
        
        <!-- <button class="search-button" type="button" >Search</button> -->
    </div>

    <div class="views-control-wrapper" >
        <div class="views-control" (mouseleave)="isViewsMenu=false">
            <button class="views-button"
            [disabled]="isViewsMenu"
            (click)="isViewsMenu=true"
            >Views</button>
           
         <!-- Downing Menu fot views -->
            <div  class="views-menu" *ngIf="isViewsMenu">
                <button 
                class="cards-views"
                (click)="onActivateCardView()">Cards</button>
                <button class="list-views"
                (click)="onActivateListView()"
                >List</button>
            </div>
        </div>
    </div>
</div>
