<!-- <div class="container">
    <div class="head-wrapper">
    <table class="table">
    <tbody>
        <tr class="head-row">
            <td class="deal-cell">Deal</td>
            <td class="date-cell"
                [class.sort-up]="(sortingMethod$ | async) === 'DATE_UP'"
                [class.sort-down]="(sortingMethod$ | async) === 'DATE_DOWN'"
                (click)="setSortingField('DATE')">Date
            </td>
            <td class="home-cell">Home
                
            </td>
            <td class="client-cell">Client</td>
            <td class="price-cell"
                [class.sort-up]="(sortingMethod$ | async) === 'PRICE_UP'"
                [class.sort-down]="(sortingMethod$ | async) === 'PRICE_DOWN'"
                (click)="setSortingField('PRICE')">Price</td>
        </tr>
    </tbody>
    </table>
    <div class="scroll"></div>
    </div>
        
    <div class="content-wrapper">
        <table class="table">
    <tbody>
        <tr *ngFor="let deal of deals" class="table-item">
            <td class="deal-cell" 
                (click)="onDealClick(deal.id)">
                <div class="deal-img"></div>
            </td>
            <td class="date-cell">{{deal.date | date:'dd-MM-yyyy'}}</td>
            <td class="home-cell"
                (click)="onHomeClick(deal.home.id)">
                <div class="home-img"></div>
                <div class="home-wrapper">
                    <h3>{{deal.home.price | currency: 'CAD':'symbol-narrow':'1.0-0':'fr'}}</h3>
                    <p>{{deal.home.home + ' ' + deal.home.street}}</p>
                    <p>{{deal.home.city + ' ' + deal.home.state}}</p>
                </div>
            </td>
            <td class="client-cell"
                [class.disabled]="!deal.client"
                (click)="onClientClick(deal.clientId)">
                <div class="client-img"></div>
                <h4 *ngIf="!deal.client">Client remove </h4>
                <div class="client-wrapper" *ngIf="deal.client">
                    <h3>{{deal.client.surname}}</h3>
                    <h3>{{deal.client.name}}</h3>
                </div>
            </td>
            <td class="price-cell">{{deal.price | currency: 'CAD':'symbol-narrow':'1.0-0':'fr'}}</td>
         </tr>
    </tbody>
    </table>
    </div>    

    

</div> -->
