:host {
    display: flex;
    flex-grow: 1;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.content-wrapper {
    box-sizing: content-box;
    overflow: auto;
    display: flex;
    flex: 0 0 auto;
    height: 90%;
    padding: 15px;
    box-shadow: 4px -4px 4px 4px rgba(192, 192, 192, 1);
    background-color: #F5FAFF;
}

.head-wrapper {
    display: flex;
    padding: 0 15px 0 15px;
    align-items: center;
}



/* styles for table */
.table {
    flex-grow: 1;
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(192, 192, 192);
}

.head-row {
    border: none;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(165, 42, 42, 1);
    box-shadow: none;
}

td {
    margin: 5px;
}

td:not(.details-cell) {
    /* padding: 5px; */
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.head-row .price-cell:hover, .head-row .date-cell:hover {
    cursor: pointer;
}

.home-cell, .client-cell {
    display: flex;
    align-items: center;
    flex: 4 1 300px;
}

.client-wrapper, .home-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.table-item .client-cell:hover:not(.disabled), .table-item .home-cell:hover, .table-item .deal-cell:hover {
    cursor: pointer;
    box-shadow: 4px 4px 6px rgba(0, 114, 188, 1);
    text-shadow: 1px 1px 2px rgba(0,114,188,1);
}

.home-img {
    background-image: url('../../../../../assets/images/foto-house.png');
 }
 
 .client-img {
     background-image: url('../../../../../assets/images/foto-card.png');
  }
 
  .deal-img {
     background-image: url('../../../../../assets/images/deal.png');
  }

.home-cell:hover .home-img {
    background-image: url('../../../../../assets/images/foto-house_blue.png');
}

.client-cell:hover:not(.disabled) .client-img {
    background-image: url('../../../../../assets/images/foto-card-blue.png');
}

.deal-cell:hover .deal-img {
    background-image: url('../../../../../assets/images/deal_blue.png');
}

.deal-img {
    height: 60px;
    width: 60px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.home-img, .client-img {
    height: 30px;
    width: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
/* .disabled {
    cursor: initial;
} */

.date-cell {
    flex: 2 1 80px;
    text-shadow: 2px 2px 4px rgba(165, 42, 42, 1);
}

.sort-up::before {
    content: '↑';
}

.sort-down::before {
    content: '↓';
}

.price-cell {
    flex: 2 1 80px;
    text-shadow: 2px 2px 4px rgba(165, 42, 42, 1);
}

.deal-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-basis: 80px;
}

tr {
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    border: 3px grey groove;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 114, 188, 1);
    background-color: #F4F5F7;
    margin-bottom: 10px;
}

p {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}