
:host {
    display: flex;
    justify-content: center;
    height: calc(100vh - 100px);
}
.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: visible;
    height: 100%;
}

.no-clients {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4, h1 {
    text-align: center;
}


.stat-card {
    max-width: 200px;
}

.stat-wrapper {
    margin: 20px;
}