<div class="container">
    <h1>Statistic</h1>
    <div class="stat-wrapper">
        <div class="clients-wrapper"
            routerLink="/clients">
            <div class="stat-text">
                <h3 class="stat-header">Total clients</h3>
                <h3 class="stat-header">{{clientsTotal}}</h3>
            </div>
            <img class="stat-img" src="../../../../../assets/images/foto-card.png">
        </div>
        
        <div class="homes-wrapper">
            <div class="stat-text">
                <h3 class="stat-header">Total Homes</h3>
                <h3 class="stat-header">{{homesTotal}}</h3>
            </div>
            <img class="stat-img" src="../../../../../assets/images/foto-house.png">
        </div>
        
        <div class="deals-wrapper">
            <div class="stat-text">
                <h3 class="stat-header">Total Deals</h3>
                <h3 class="stat-header">{{dealsTotal}}</h3>
            </div>
            <img class="stat-img" src="../../../../../assets/images/deal.png">
        </div>
    </div>

    <h1>Recent Clients</h1>
    <div class=table-wrapper>
        <table class="table">
        <tbody>
            <tr class="head-row">
                <td class="img-cell"></td>
                <td class="surname-cell">Surname</td>
                <td class="name-cell">Name</td>
                <td class="email-cell">Email</td>
                <td class="phone-cell">Phone</td>
                <td class="created-date-cell">Date</td>
            </tr>
            <tr *ngFor="let client of clients">
                <td class="img-cell tooltip">
                    <span class="tooltip-text">Profile</span>
                    <div 
                        (click)="onProfileButton(client.id)"
                        class="profile-img">
                    </div>

                </td>
                <td class="surname-cell">{{client.surname}}</td>
                <td class="name-cell">{{client.name}}</td>
                <td class="email-cell">{{client.email}}</td>
                <td class="phone-cell">{{client.phone}}</td>
                <td class="created-date-cell">{{client.createdAt | date: 'yyyy-MM-dd'}}</td>
            </tr>
        </tbody>
        </table>
    </div>
   
    
</div>
