<div class="container">
    <mat-card class="mat-elevation-z8">
        <mat-card-header>
            <mat-card-title color="primary">Client's profile</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="profileForm">
                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Name</mat-label>

                    <input 
                        matInput 
                        placeholder="Name"
                        type="text" 
                        formControlName="name"
                        maxlength="20"
                        >

                    <mat-icon matSuffix>face</mat-icon>

                    <mat-error *ngIf="profileForm.controls['name'].invalid && (profileForm.controls['name'].touched)">
                        Incorrect Name
                    </mat-error>
                </mat-form-field>
                <br>
    
                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Surname</mat-label>

                    <input 
                        matInput 
                        placeholder="Surname"
                        type="text" 
                        formControlName="surname"
                        maxlength="30"
                        >
                    <mat-icon matSuffix>face</mat-icon>

                    <mat-error *ngIf="profileForm.controls['surname'].invalid 
                                    && (profileForm.controls['surname'].touched)">
                        Incorrect Name
                    </mat-error>
                </mat-form-field>
                <br>

                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Email</mat-label>

                    <input 
                        matInput 
                        placeholder="your@email"
                        type="text" 
                        autocomplete="email"
                        formControlName="email"
                        >
                    <mat-icon matSuffix>alternate_email</mat-icon>

                    <mat-error *ngIf="( profileForm.controls['email'].errors 
                                && (profileForm.controls['email'].errors.email || profileForm.controls['email'].errors.required)) 
                                && (profileForm.controls['email'].touched)">
                        Incorrect email
                    </mat-error>
                </mat-form-field>
                <br>

                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Location</mat-label>
                    <input 
                        matInput 
                        placeholder="Location"
                        type="text" 
                        formControlName="address"
                        maxlength="30"
                        >
                    <mat-icon matSuffix>location_city</mat-icon>
                    <mat-error *ngIf="profileForm.controls['address'].invalid 
                                    && (profileForm.controls['address'].touched)">
                        Incorrect location
                    </mat-error>
                </mat-form-field>
                <br>
    
                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Phone</mat-label>

                    <input 
                        matInput
                        placeholder="+__ (___) ___ ____"
                        type="text" 
                        formControlName="phone"
                        >
                    <mat-icon matSuffix>phone_enabled</mat-icon>

                    <mat-error *ngIf="profileForm.controls['phone'].invalid 
                                    && (profileForm.controls['phone'].touched)">
                        Incorrect phone
                    </mat-error>
                </mat-form-field>
                <br>

                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Date of Birth</mat-label>
                    <input 
                        matInput
                        placeholder="dd.mm.yyyy"
                        [matDatepicker]="dp"
                        formControlName="birthday"
                        appMaxDateValidator="18"
                        appMinDateValidator="100"
                        >
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>

                    <mat-error *ngIf="profileForm.controls['birthday'].hasError('dateValidator') 
                                    && (profileForm.controls['birthday'].touched)">
                        Incorrect date
                    </mat-error>

                    <mat-error *ngIf="profileForm.controls['birthday'].hasError('maxDateValidator')">
                        You are under 18 years old
                    </mat-error>

                    <mat-error *ngIf="profileForm.controls['birthday'].hasError('minDateValidator')">
                        You are over 100 years old
                    </mat-error>
                </mat-form-field>
                <br>
            </form>


            <table *ngIf="!isAddingMode" class="table">
                <tr>
                    <td>Registration date</td>
                    <td>{{client?.createdAt | date:'dd-MM-yyyy'}}</td>
                </tr>
                <tr>
                    <td>Bought Homes</td>
                    <td>{{client?.homes.length || 0}}</td>
                </tr>
            </table>

        </mat-card-content>

        <mat-card-actions class="actions-wrapper">
            <button mat-raised-button
            (click)="onCancelButtonClick()">
                Cancel
            </button>

            <button mat-raised-button
            (click)="onCancelButtonClick()">
                Back
            </button>

            <button mat-raised-button
                class="button"
                color="primary"
                [disabled]="!profileForm.valid"
                (click)="onSave()">
                Save
            </button>
        </mat-card-actions>
    </mat-card>
</div>





