
<div class="container">
    <div class="control-panel">
        <app-clients-control-panel></app-clients-control-panel>    
    </div>

    <!-- info and button when clients are missed-->
    <div class="no-clients" *ngIf="!clients.length">
        <h1>No Clients</h1>
        <button 
        class=add-button
        routerLink="/clients/adding">+ Add first client
        </button>
    </div>

    <div class="content-wrapper" *ngIf="clients.length">
        <app-clients-list 
        [clients]="filteredClients"
        ></app-clients-list>
    </div>
</div>