:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container {
    display: flex;
    flex: 0 1 700px;
}

/* logo */
.logo-text {
    font-size: 20px;
    margin-left: 20px;
}


.logo {
    align-self: center;
    height: 80px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo-card {
    background-image: url('../../../../../assets/images/background-office.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.form-card {
    width: 350px;
}

/* form elements */
form {
    display: flex;
    flex-direction: column;
    /* width: 400px; */
}

.form-control {
    margin-bottom: 15px;
    width: 100%;
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    width: 100%;
}


