<!-- <div class="container">
    <div class="left-column">
        <h1>Sign In</h1>
    <form #loginForm="ngForm" 
        (ngSubmit)="
            email.reset(user.email);
            password.reset(user.password);
            onSubmit()">
        <div class="form-group">
            <label for="email">Email</label>
            <input 
                #email="ngModel"
                type="email" 
                class="form-control" 
                autocomplete="email"
                autofocus
                id="email" 
                required
                [(ngModel)]="user.email"
                name="email"
                placeholder="Enter your email"
                pattern= "\w[[A-Za-z0-9_]*[@]\w\S+$"
                [class.invalid]="!isCorrectLogin && (email.pristine && password.pristine)"  >
               
            <div class="alert" >
                <div class="alert-danger"
                *ngIf="email.invalid && (email.dirty || email.touched)">Incorrect email</div>
                <div> </div>
                
            </div>    
        </div>

     
        <div class="form-group">
            <label for="paswword">Password</label>
            <input 
                #password="ngModel"
                type="password" 
                class="form-control" 
                id="password" 
                required
                minlength="6"
                [(ngModel)]="user.password"
                name="password" 
                placeholder="Enter your password"
                autocomplete="current-password"
                [class.invalid]="!isCorrectLogin && (email.pristine && password.pristine)">
            <div class="alert">
                <div class="alert-danger" 
                *ngIf="password.invalid && (password.dirty || password.touched)">Password must be longer than 5 characters</div>
                <div class="alert-danger" *ngIf="!isCorrectLogin && (email.pristine && password.pristine)" >
                    Incorrect email or password, try again or register
                </div> 
                <div> </div>
            </div>   
            
            
        </div>

        <div class="form-group-checkbox">
            <input type="checkbox" class="form-control-checkbox" id="terms"
                [(ngModel)]="isCheckedRememberMe"
                name="terms"
                >Remember me
        </div>

        <button type="submit" 
            class="button-submit"
            [disabled]="!loginForm.form.valid"

        >Sign in</button>

        <div class="line"></div>
    
        <div>
            <button type="button" routerLink="/authorization/registration" class="button-submit"
            >Create account</button>
            
        </div>
            
    </form>
    </div>

    <div class="right-column" >
        <div class="logo-wrapper">
            <img class="logo" src="../../../assets/images/logo.png">
            <div class="logo-text">
                <p >Welcome to HunterData </p>
                <p >Client Management App </p>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
   
            <mat-card elevation="20" class="form-card">
            <mat-card-header>
            <mat-card-title color="primary">Sign In</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="loginForm">
                    <mat-form-field class="form-control" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input 
                            matInput 
                            placeholder="your@email"
                            type="text" 
                            autocomplete="email"
                            formControlName="email"
                            >
                        <mat-icon matSuffix>alternate_email</mat-icon>

                        <mat-error *ngIf="( loginForm.controls['email'].errors 
                                    && (loginForm.controls['email'].errors.email || loginForm.controls['email'].errors.required)) 
                                    && (loginForm.controls['email'].touched)">
                            Incorrect email
                        </mat-error>
                        
                    </mat-form-field>
                    <br>
        
                    <mat-form-field class="form-control" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input 
                            matInput 
                            placeholder="Password"
                            [type]="isHidePassword ? 'password' : 'text'"
                            autocomplete="password"
                            formControlName="password"
                            >
                        <button mat-icon-button matSuffix 
                            (click)="isHidePassword = !isHidePassword" 
                            [attr.aria-label]="'Hide password'" 
                            [attr.aria-pressed]="isHidePassword">
                            <mat-icon>{{isHidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>

                        <mat-error *ngIf="(loginForm.controls['password'].errors 
                                && loginForm.controls['password'].errors.minlength) 
                                && (loginForm.controls['password'].touched)">
                                Password must be longer than 5 characters
                        </mat-error>

                        <mat-error *ngIf="(loginForm.controls['password'].errors 
                                && loginForm.controls['password'].errors.pattern) 
                                && (loginForm.controls['password'].touched)">
                                Password contains incorrect symbols
                        </mat-error>

                        <mat-error *ngIf=" loginForm.controls['password'].errors 
                            && loginForm.controls['password'].errors.toggleValidator">
                            Incorrect email or password, try again or register
                        </mat-error>
                    </mat-form-field>
        
                    <br>
                    
                    
                    <mat-checkbox 
                    formControlName="rememberMe"
                    color="primary"
                        >
                        Remember me
                    </mat-checkbox>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <mat-list>
                    <mat-list-item >
                        <div class="button-wrapper">
                            <button mat-raised-button
                            class="button"
                            color="primary"
                            [disabled]="!loginForm.valid"
                            (click)="onSubmit()"
                            >
                                Sign In
                            </button>
                        </div>
                        
                    </mat-list-item>

                    <br>
                    <mat-divider></mat-divider>
                    <br>
                    <mat-list-item >
                        <div class="button-wrapper">
                             <a routerLink="/authorization/registration" 
                        mat-stroked-button 
                        class="button">
                            Create account
                        </a>
                        </div>
                       
                    </mat-list-item>
                </mat-list>
                
            </mat-card-actions>
        
        </mat-card>
        
            <mat-card class="logo-card">
                <div class="logo-wrapper">
                    <img class="logo" src="../../../assets/images/logo.png">
                    <div class="logo-text">
                        <p >Welcome to HunterData </p>
                        <p >Client Management App </p>
                </div>
            </div>
            </mat-card>
</div>
