.card {
    margin: 5px;
    width: 250px;
}

.title-group {
    margin: 0 auto;
}

.title {
    font-size: 16px;
    text-align: center;
}

th.mat-sort-header-sorted {
    color: blue;
  }

:host /deep/ .mat-card-header-text {
    margin: 0;
}

.actions {
    margin: 0 auto;
}

mat-icon {
    margin: 0 10px;
}

.sold {
    background-color: cornsilk;
}