<div class="container">
    <!-- <div class="tooltip" (click)="onDetailsButton(home.id)">
        <img class="sold-img" src="../../../../../assets/images/sold.png" *ngIf="home.clientOwner">
        <span class="tooltip-text">Details</span>
        <div class="profile-img"
             >
        </div>
    </div>

    <h3>{{home.price | currency: 'CAD':'symbol-narrow':'1.0-0':'fr'}}</h3>
    <p>{{home.home + ' ' + home.street}}</p>
    <p>{{home.city + ' ' + home.state}}</p>

    <div class="delete-button"
    (click)="onDeleteButton()"
    *ngIf="!home.clientOwner"
    >X</div>
    
    <div class="main-buttons-wrapper">
        <button class="details-button"
        (click)="onDetailsButton(home.id)">Details</button>

        <button class="view-button"
        (click)="openClients()">Clients who viewed Homes</button>

        <button class="add-button"
        (click)="addClient()"
        [disabled]="home.clientOwner"
        >Add client who viewed Home</button>
    </div> -->

      <!-- adding home list popup -->
      <div class="popup-clients-list" *ngIf="isPopupListClients">
        <app-clients-list-selector 
            [home]="home"
            (closeEvent)="isPopupListClients = false"
            [adding]="isAdding"
        >

        </app-clients-list-selector>
    </div>

    <mat-card class="card mat-elevation-z4">
        <mat-card-header>
            <mat-card-title-group class="title-group">
                <mat-card-title class="title">{{home.home}}, {{home.street}}</mat-card-title>
                <mat-card-title class="title">{{home.city}}, {{home.state}}</mat-card-title>
            </mat-card-title-group>
        </mat-card-header>

        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <mat-icon>monetization_on</mat-icon>
                    {{home.price}}
                </mat-list-item>    
                <mat-list-item [class.sold]="home.clientOwner">
                    <mat-icon>account_balance</mat-icon>
                    <span *ngIf="!home.clientOwner">on sale</span>
                    <span *ngIf="home.clientOwner">sold</span>
                </mat-list-item>
            </mat-list>
            
            <p></p>
        </mat-card-content>
        
        <mat-card-actions class="actions">
            <button mat-raised-button [matMenuTriggerFor]="menu" color="basic">
                <mat-icon>menu</mat-icon>
                Choose action
            </button>
            <mat-menu  #menu="matMenu">
                <button mat-menu-item (click)="onViewedClient()">
                    <mat-icon>list</mat-icon>
                    Look clients who viewed home
                </button>
                <button mat-menu-item 
                    (click)="onAddClient()"
                    [disabled]="home.clientOwner">
                    <mat-icon>add</mat-icon>
                    Add clients who viewed home
                </button>
            </mat-menu>
            <button mat-icon-button color="primary" routerLink="/homes/details/{{home.id}}">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" 
                (click)="onDeleteButton()"
                [disabled]="home.clientOwner">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    

</div>

