<div class="container">
    <div class="tooltip" (click)="onDetailsButton(home.id)">
        <img class="sold-img" src="../../../../../assets/images/sold.png" *ngIf="home.clientOwner">
        <span class="tooltip-text">Details</span>
        <div class="profile-img"
             >
        </div>
    </div>

    <h3>{{home.price | currency: 'CAD':'symbol-narrow':'1.0-0':'fr'}}</h3>
    <p>{{home.home + ' ' + home.street}}</p>
    <p>{{home.city + ' ' + home.state}}</p>

    <div class="delete-button"
    (click)="onDeleteButton()"
    *ngIf="!home.clientOwner"
    >X</div>
    
    <div class="main-buttons-wrapper">
        <button class="details-button"
        (click)="onDetailsButton(home.id)">Details</button>

        <button class="view-button"
        (click)="openClients()">Clients who viewed Homes</button>

        <button class="add-button"
        (click)="addClient()"
        >Add client who viewed Home</button>
    </div>

      <!-- adding home list popup -->
      <div class="popup-clients-list" *ngIf="isPopupListClients">
        <app-clients-list-selector 
            [home]="home"
            (closeEvent)="isPopupListClients = false"
            [adding]="isAdding"
        >

        </app-clients-list-selector>
    </div>

    <!-- popup deleting menu -->
    <div class="popup"  *ngIf="isPopup">
        <h3 class=popup-header>Delete home!</h3>
        
        <h3>{{home.price | currency: 'CAD':'symbol-narrow':'1.0-0':'fr'}}</h3>
        <p>{{home.home + ' ' + home.street}}</p>
        <p>{{home.city + ' ' + home.state}}</p>
        <h3 class=popup-header>Are you sure?</h3>
        <div class="buttons-wrapper">

            <button 
                type=button 
                (click)="deleteHome(home.id)"
                class="yes-button">
                Yes
            </button>

            <button 
                (click)="isPopup=false"
                type=button 
                class="no-button">
                No
            </button>
        </div>
    </div>

     <!-- cover div -->
    <div *ngIf="isPopup" class="cover-div"></div>
    
    

</div>

