<div class="container">
    <div class="left-column">
        <h1>Sign In</h1>
    <form #loginForm="ngForm" 
        (ngSubmit)="
            email.reset(user.email);
            password.reset(user.password);
            onSubmit()">
        <div class="form-group">
            <label for="email">Email</label>
            <input 
                #email="ngModel"
                type="email" 
                class="form-control" 
                autocomplete="email"
                autofocus
                id="email" 
                required
                [(ngModel)]="user.email"
                name="email"
                placeholder="Enter your email"
                pattern= "\w[[A-Za-z0-9_]*[@]\w\S+$">
            <div class="alert" >
                <div class="alert-danger"
                *ngIf="email.invalid && (email.dirty || email.touched)">Incorrect email</div>
                <div> </div>
                
            </div>    
        </div>

     
        <div class="form-group">
            <label for="paswword">Password</label>
            <input 
                #password="ngModel"
                type="password" 
                class="form-control" 
                id="paswword" 
                required
                minlength="6"
                [(ngModel)]="user.password"
                name="password" 
                placeholder="Enter your password"
                autocomplete="current-password">
            <div class="alert">
                <div class="alert-danger" 
                *ngIf="password.invalid && (password.dirty || password.touched)">Password must be longer than 5 characters</div>
                <div class="alert-danger" *ngIf="!isCorrectLogin && (email.pristine && password.pristine)" >
                    Inccorect email or password, try again or register
                </div> 
                <div> </div>
            </div>   
            
            
        </div>

        <div class="form-group-checkbox">
            <input type="checkbox" class="form-control-checkbox" id="terms"
                [(ngModel)]="isCheckedRememberMe"
                name="terms"
                >Remember me
        </div>

        <button type="submit" 
            class="button-submit"
            [disabled]="!loginForm.form.valid"

        >Sign in</button>

        <div class="line"></div>
    
        <div>
            <button type="button" routerLink="/authorization/registration" class="button-submit"
            >Create account</button>
            
        </div>
            
    </form>
    </div>

    <div class="right-column" >
        <div class="logo-wrapper">
            <img class="logo" src="../../../assets/images/logo.png">
            <div class="logo-text">
                <p >Welcome to HunterData </p>
                <p >Client Managment App </p>
            </div>
        </div>
    </div>
</div>
