.container {
    height: 100%;
    overflow-y: auto;
}

mat-card {
    width: 350px;
    margin: 30px auto;
}

.info {
    flex: 1 1 60%;
    height: 30px;
}

.form-control {
    width: 100%;
}

.list-item {
    width: 100%;
    display: flex;
    justify-content: stretch;
}

.actions-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.table {
    width: 100%;
}