<div class="container">
    <h1>{{title}}</h1>
    
    <!-- Profile form -->
    <form  #homeForm="ngForm" > 
        
        <!-- Name field -->
        <div class="form-group">
            <label for="homeNum">Home Number</label>
            <input 
                #homeNum="ngModel"
                type="text" 
                class="form-control" 
                id="homeNum"
                [ngModel] = "home?.home"
                (ngModelChange) = "home.home = $event"
                name="homeNum"
                placeholder="Enter home's number"
                pattern="[1-9]+\w*"
                required
                [disabled]="isFormDisabled"
               >
               <!-- NoValid alert -->
            <div class="alert" >
                <div class="alert-danger" *ngIf="homeNum.invalid && (homeNum.touched)">Incorrect number</div>
                <div> </div>
            </div>       
        </div>

         <!-- Street field -->
         <div class="form-group">
            <label for="street">Street</label>
            <input 
                #street="ngModel"
                type="text" 
                class="form-control" 
                id="street"
                [ngModel] = "home?.street"
                (ngModelChange) = "home.street = $event"
                name="street"
                placeholder="Enter street"
                pattern="[A-Za-zА-Яа-яЁё\s-\d]+"
                required
                [disabled]="isFormDisabled"
               >
               <!-- NoValid alert -->
            <div class="alert">
                <div class="alert-danger" *ngIf="street.invalid && (street.touched)">Incorrect street</div>
                <div> </div>
            </div>       
        </div>
      
         <!-- city field -->
         <div class="form-group">
            <label for="city">City</label>
            <input 
                #city="ngModel"
                type="text" 
                class="form-control" 
                id="city"
                [ngModel] = "home?.city"
                (ngModelChange) = "home.city = $event"
                name="city"
                placeholder="Enter city"
                pattern="[A-Za-zА-Яа-яЁё-\s]+"
                required
                [disabled]="isFormDisabled"
               >
               <!-- NoValid alert -->
            <div class="alert" 
                >
                <div class="alert-danger" *ngIf="city.invalid && (city.touched)">Incorrect city</div>
                <div> </div>
            </div>       
        </div>

        <!-- State field -->
        <div class="form-group">
            <label for="state">State</label>
            <input 
                #state="ngModel"
                type="text" 
                class="form-control" 
                id="state" 
                required
                [ngModel] = "home?.state"
                (ngModelChange) = "home.state = $event"
                name="state"
                placeholder="Enter home's state"
                pattern= "\w+"
                [disabled]="isFormDisabled"
                >

                <!-- NoValid alert -->
            <div class="alert" 
                >
                <div class="alert-danger" *ngIf="state.invalid && (state.touched)">Incorrect state</div>
                <div> </div>
            </div>   
        </div>

        <!-- Phone index -->
        <div class="form-group">
            <label for="index">Index</label>
            <input 
                #index="ngModel"
                type="number" 
                class="form-control" 
                id="index"
                [ngModel]="home?.index"
                (ngModelChange)="home.index = $event"
                required
                pattern="[0-9]+"
                name="index"
                placeholder="Enter home's index"
                [disabled]="isFormDisabled"
                >

                <!-- No valid alert -->
                <div class="alert" 
                >
                <div class="alert-danger" 
                *ngIf="index.invalid && (index.touched)">Incorrect index</div>
                <div> </div>
                </div>     
        </div>

        <!-- Price field -->
        <div class="form-group">
            <label for="price">Price</label>
            <input 
                #price="ngModel"
                type="text"
                class="form-control" 
                id="price"
                [ngModel]="home?.price | currency:'CAD':'symbol-narrow':'1.0-0':'fr'"
                (ngModelChange)="onPriceChange($event)"
                pattern="[0-9,\s]*[$]{1}"
                required
                name="price"
                placeholder="Enter price"
                [disabled]="isFormDisabled"
                >

                <!-- No valid alert -->
                <div class="alert" 
                >
                <div class="alert-danger" 
                *ngIf="price.invalid && (price.touched)">Incorrect price</div>
                <div> </div>
                </div>     
        </div>

         <!-- Sales Since Date field -->
         <div class="form-group">
            <label for="salesdate">Sales Since</label>
            <input 
                #salesDate="ngModel"
                type="date" 
                class="form-control sales-date" 
                id="salesdate"
                [ngModel]="home?.start_date | date:'yyyy-MM-dd'"
                (ngModelChange)="onDateChange($event)"
                [appMaxDateValidator]="0"
                pattern="\d\d\d\d-\d\d-\d\d"
                required
                name="salesdate"
                placeholder="Enter Sales Since Date"
                [disabled]="isFormDisabled">

                <!-- No valid alert -->
                <div class="alert" 
                >
                <div class="alert-danger" 
                *ngIf="(salesDate.invalid) && (salesDate.touched) ">Incorrect Date</div>
                <div> </div>
                </div>     
        </div>

            <!-- Adding Date -->
        <div class="form-group" *ngIf="!isAddingMode">
            <span class="label">Adding Date</span>
            <span class="info">{{home?.createdAt | date:'dd-MM-yyyy'}}</span>
        </div>

         <!-- Bought by  -->
         <div class="form-group" *ngIf="home?.clientOwner">
            <span class="label">Bought By</span>
            <span class="info link" 
                *ngIf="home?.clientOwner.id"
                [routerLink]="['/clients/profile', home?.clientOwner.id]"
                >{{home?.clientOwner.surname }}</span>

            <span class="info" *ngIf="!home?.clientOwner.id">Client is missing</span>
        </div>

        <div class="button-wrapper">
            <!-- Cancel button -->
             <button type="button" class="button-cancel"
            (click)="onCancelButtonClick()"
             >Cancel</button>

              <!-- Back button -->
              <button type="button" class="button-cancel"
              (click)="onCancelButtonClick()"
               >Back</button>
    
  
             <!-- Submit button for adding mode -->
        <button type="submit" 
        *ngIf = "!isFormDisabled && isAddingMode"
        class="button-submit"
        [disabled]="!homeForm.form.valid"
        (click)="onAddHome()"
        >Submit</button>

        <!-- Submit button for editing mode -->
        <button type="submit" 
        *ngIf = "!isFormDisabled && !isAddingMode"
        class="button-submit"
        [disabled]="!homeForm.form.valid"
        (click)="onEditHome()"
        >Save</button>
        
        </div>


       

    </form>
    
</div>

<!-- popup question -->
<app-popup-question
    *ngIf = "isPopupQuestion"
    [title] = "popupTitle"
    [text] = "text"
    (cancelEvent)="onCancel()"
    (submitEvent)="onSubmit()"
>
</app-popup-question>

<!-- deactivate popup -->
<app-popup-deactivate *ngIf="isCanDeactivatePopup"></app-popup-deactivate>




