<div class="container">
    <!-- <h1>{{title}}</h1>
    
    <form  #homeForm="ngForm" > 
        
        <div class="form-group">
            <label for="homeNum">Home Number</label>
            <input 
                #homeNum="ngModel"
                type="text" 
                class="form-control" 
                id="homeNum"
                [ngModel] = "home?.home"
                (ngModelChange) = "home.home = $event"
                name="homeNum"
                placeholder="Enter home's number"
                pattern="[1-9]+\w*"
                required
                [disabled]="isFormDisabled"
               >
            <div class="alert" >
                <div class="alert-danger" *ngIf="homeNum.invalid && (homeNum.touched)">Incorrect number</div>
                <div> </div>
            </div>       
        </div>

         <div class="form-group">
            <label for="street">Street</label>
            <input 
                #street="ngModel"
                type="text" 
                class="form-control" 
                id="street"
                [ngModel] = "home?.street"
                (ngModelChange) = "home.street = $event"
                name="street"
                placeholder="Enter street"
                pattern="[A-Za-z\d]+[A-Za-z\s\d]+[A-Za-z\d]+"
                maxlength="30"
                required
                [disabled]="isFormDisabled"
               >
            <div class="alert">
                <div class="alert-danger" *ngIf="street.invalid && (street.touched)">Incorrect street</div>
                <div> </div>
            </div>       
        </div>
      
         <div class="form-group">
            <label for="city">City</label>
            <input 
                #city="ngModel"
                type="text" 
                class="form-control" 
                id="city"
                [ngModel] = "home?.city"
                (ngModelChange) = "home.city = $event"
                name="city"
                placeholder="Enter city"
                pattern="[A-Za-z\d]+[A-Za-z\s\d]+[A-Za-z\d]+"
                maxlength="30"
                required
                [disabled]="isFormDisabled"
               >
            <div class="alert" 
                >
                <div class="alert-danger" *ngIf="city.invalid && (city.touched)">Incorrect city</div>
                <div> </div>
            </div>       
        </div>

        <div class="form-group">
            <label for="state">State</label>
            <input 
                #state="ngModel"
                type="text" 
                class="form-control" 
                id="state" 
                required
                [ngModel] = "home?.state"
                (ngModelChange) = "home.state = $event"
                name="state"
                placeholder="Enter home's state"
                pattern= "\w+"
                [disabled]="isFormDisabled"
                >

            <div class="alert" 
                >
                <div class="alert-danger" *ngIf="state.invalid && (state.touched)">Incorrect state</div>
                <div> </div>
            </div>   
        </div>

        <div class="form-group">
            <label for="index">Index</label>
            <input 
                #index="ngModel"
                type="number" 
                class="form-control" 
                id="index"
                [ngModel]="home?.index"
                (ngModelChange)="home.index = $event"
                required
                pattern="[0-9]+"
                name="index"
                placeholder="Enter home's index"
                [disabled]="isFormDisabled"
                >

                <div class="alert" 
                >
                <div class="alert-danger" 
                *ngIf="index.invalid && (index.touched)">Incorrect index</div>
                <div> </div>
                </div>     
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input 
                #price="ngModel"
                type="text"
                class="form-control" 
                id="price"
                [ngModel]="home?.price | currency:'CAD':'symbol-narrow':'1.0-0':'fr'"
                (ngModelChange)="onPriceChange($event)"
                pattern="[0-9,\s]*[$]{1}"
                required
                name="price"
                placeholder="Enter price"
                [disabled]="isFormDisabled"
                >

                <div class="alert" 
                >
                <div class="alert-danger" 
                *ngIf="price.invalid && (price.touched)">Incorrect price</div>
                <div> </div>
                </div>     
        </div>

         <div class="form-group">
            <label for="salesdate">Sales Since</label>
            <input 
                #salesDate="ngModel"
                type="date" 
                class="form-control sales-date" 
                id="salesdate"
                [ngModel]="home?.start_date | date:'yyyy-MM-dd'"
                (ngModelChange)="onDateChange($event)"
                [appMaxDateValidator]="0"
                pattern="\d\d\d\d-\d\d-\d\d"
                required
                name="salesdate"
                placeholder="Enter Sales Since Date"
                [disabled]="isFormDisabled">

                <div class="alert" 
                >
                <div class="alert-danger" 
                *ngIf="(salesDate.invalid) && (salesDate.touched) ">Incorrect Date</div>
                <div> </div>
                </div>     
        </div>

        <div class="form-group" *ngIf="!isAddingMode">
            <span class="label">Adding Date</span>
            <span class="info">{{home?.createdAt | date:'dd-MM-yyyy'}}</span>
        </div>

         <div class="form-group" *ngIf="home?.homeOwner">
            <span class="label">Bought By</span>
            <span class="info link" 
                *ngIf="home?.homeOwner.id"
                [routerLink]="['/homes/profile', home?.homeOwner.id]"
                >{{home?.homeOwner.surname }}</span>

            <span class="info" *ngIf="!home?.homeOwner.id">Client is missing</span>
        </div>

        <div class="button-wrapper">
             <button type="button" class="button-cancel"
            (click)="onCancelButtonClick()"
             >Cancel</button>

              <button type="button" class="button-cancel"
              (click)="onCancelButtonClick()"
               >Back</button>
    
  
        <button type="submit" 
        *ngIf = "!isFormDisabled && isAddingMode"
        class="button-submit"
        [disabled]="!homeForm.form.valid"
        (click)="onAddHome()"
        >Submit</button>

        <button type="submit" 
        *ngIf = "!isFormDisabled && !isAddingMode"
        class="button-submit"
        [disabled]="!homeForm.form.valid"
        (click)="onEditHome()"
        >Save</button>
        
        </div>


       

    </form> -->

    <mat-card class="mat-elevation-z8">
        <mat-card-header>
          <mat-card-title color="primary">Home's details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="homeForm">
                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Home Number</mat-label>
                    <input 
                        matInput 
                        placeholder="Home Number"
                        type="text" 
                        formControlName="home"
                        maxlength="20"
                        >
                    <mat-icon matSuffix>location_city</mat-icon>
                    <mat-error *ngIf="homeForm.controls['home'].invalid 
                                && (homeForm.controls['home'].touched)">
                        Incorrect home's number
                    </mat-error>
                </mat-form-field>
                <br>
    
                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Street</mat-label>
                    <input 
                        matInput 
                        placeholder="Street"
                        type="text" 
                        formControlName="street"
                        maxlength="30"
                        >
                    <mat-icon matSuffix>location_city</mat-icon>
                    <mat-error *ngIf="homeForm.controls['street'].invalid 
                                    && (homeForm.controls['street'].touched)">
                        Incorrect street
                    </mat-error>
                </mat-form-field>
                <br>

                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>City</mat-label>
                    <input 
                        matInput 
                        placeholder="City"
                        type="text" 
                        formControlName="city"
                        >
                    <mat-icon matSuffix>location_city</mat-icon>

                    <mat-error *ngIf="( homeForm.controls['city'].invalid && homeForm.controls['city'].touched)">
                        Incorrect city
                    </mat-error>
                </mat-form-field>
                <br>

                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>State</mat-label>
                    <input 
                        matInput 
                        placeholder="State"
                        type="text" 
                        formControlName="state"
                        >
                    <mat-icon matSuffix>location_city</mat-icon>

                    <mat-error *ngIf="( homeForm.controls['state'].invalid && homeForm.controls['state'].touched)">
                        Incorrect state
                    </mat-error>
                </mat-form-field>
                <br>

                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Index</mat-label>
                    <input 
                        matInput 
                        placeholder="Index"
                        type="number" 
                        formControlName="index"
                        >
                    <mat-icon matSuffix>location_city</mat-icon>

                    <mat-error *ngIf="( homeForm.controls['index'].invalid && homeForm.controls['index'].touched)">
                        Incorrect index
                    </mat-error>
                </mat-form-field>
                <br>

                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Price</mat-label>
                    <input 
                        matInput 
                        placeholder="Price"
                        type="text" 
                        formControlName="price"
                        maxlength="30"
                        >
                    <mat-icon matSuffix>monetization_on</mat-icon>
                    <mat-error *ngIf="homeForm.controls['price'].invalid 
                                    && (homeForm.controls['price'].touched)">
                        Incorrect price
                    </mat-error>
                </mat-form-field>
                <br>
                
                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Sales since</mat-label>
                    <input 
                        matInput
                        placeholder="dd.mm.yyyy"
                        [matDatepicker]="dp"
                        formControlName="start_date"
                        appMaxDateValidator="0"
                        appMinDateValidator="200"
                        >
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>

                    <mat-error *ngIf="homeForm.controls['start_date'].hasError('dateValidator') 
                                    && (homeForm.controls['start_date'].touched)">
                        Incorrect date
                    </mat-error>
                    <mat-error *ngIf="homeForm.controls['start_date'].hasError('maxDateValidator')">
                        More than today's date
                    </mat-error>
                    <mat-error *ngIf="homeForm.controls['start_date'].hasError('minDateValidator')">
                        Home is over 200 years old
                    </mat-error>
                </mat-form-field>
                <br>
            </form>


            <table *ngIf="!isAddingMode" class="table">
                <tr>
                    <td>Adding Date</td>
                    <td>{{home.createdAt | date:'dd-MM-yyyy'}}</td>
                </tr>
                <tr *ngIf="home.clientOwner">
                    <td>Bought By</td>
                    <td>
                        <a mat-button [routerLink]="['/clients/profile', home?.clientOwner.id]">
                            {{home?.clientOwner.surname }}
                        </a>
                    </td>
                </tr>
            </table>

        </mat-card-content>
        <mat-card-actions class="actions-wrapper">
            <button mat-raised-button
            (click)="onCancelButtonClick()">
                Cancel
            </button>

            <button mat-raised-button
            (click)="onCancelButtonClick()">
                Back
            </button>

            <button mat-raised-button
                class="button"
                color="primary"
                [disabled]="!homeForm.valid"
                (click)="onSave()"
            >
            Save
            </button>
        </mat-card-actions>
    </mat-card>

    
</div>






