.control-panel {
    margin: 30px 0 30px 0;
    display: flex;
    justify-content: space-between;
}

button {
    width: 75px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgba(0,114,188,1);
    margin: 5px;
}

.add-button {
    width: 100px;
}

button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0,114,188,1);
}

input {
    padding-left: 10px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 2px black groove;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(192,192,192);
    box-shadow: 1px 1px 2px rgba(192,192,192);
}

.views-control, .sort-control {
    position: relative;
}

.views-control-wrapper {
    display: flex;
}

.views-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    
    top: 35px;
    right: 5px;
}

.sort-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    
    top: 35px;
    right: 5px;
}

.cards-views, .list-views, .sort-surname, .sort-name {
    margin: 0;
}

.sort-surname, .sort-name, .sort-button {
    width: 85px;
}

