 <!-- popup deleting menu -->
 <div class="popup-wrapper">
     <div class="popup">
         <h3 class=popup-header>Delete Client!</h3>
         
         <h3>{{client.name + ' ' + client.surname}}</h3>
         <p>{{client.email}}</p>
         <p>{{client.phone}}</p>
         <h3 class=popup-header>Are you sure?</h3>
         <div class="buttons-wrapper">
 
             <button 
                 type=button 
                 (click)="onSubmit(client.id)"
                 class="yes-button">
                 Yes
             </button>
 
             <button 
                 (click)="onCancel()"
                 type=button 
                 class="no-button">
                 No
             </button>
        </div>
    </div>
</div>

<div class="cover-div">
</div>

