.card-view  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: calc(100% - 40px - 26px);
    overflow-y: auto;
    margin: 20px;
} 
.container {
    height: 100%;
}

th.mat-sort-header-sorted {
    color: blue;
  }

.sorting-panel {
    margin: 0 auto;
}

th {
    padding-left: 15px;
}
