
     
     <!-- sorting panel -->
    <div  class="sorting-menu" *ngIf="viewMode === 'cards'">
        <span class="main">Sort by:</span>
        
        <button class="sorting-button" 
        type="button"
        [class.sort-up]="sortingMethod === 'SURNAME_UP'"
        [class.sort-down]="sortingMethod === 'SURNAME_DOWN'"
        (click)="changeSortingMethod('SURNAME')"
        >Surname</button>
       
        <button class="sorting-button" 
        type="button"
        [class.sort-up]="sortingMethod === 'NAME_UP'"
        [class.sort-down]="sortingMethod === 'NAME_DOWN'"
        (click)="changeSortingMethod('NAME')"
        >Name</button>
    </div>

<div class="container" [ngSwitch]="viewMode">
    <div class=list-view *ngSwitchCase="'list'">
        <app-clients-table
            [clients]="clients">
        </app-clients-table>        
    </div>

    <div class="card-view" *ngSwitchCase="'cards'">
        <app-client-card 
        *ngFor="let client of clients"
        [client]="client"
        >
        </app-client-card>
    </div>
</div>

