
<div class="container" [ngSwitch]="viewMode$ | async">
    <div class=list-view *ngSwitchCase="'list'">
        <app-clients-table
            [clients]="clients">
        </app-clients-table>        
    </div>

    <table matSort (matSortChange)="changeSortingMethod($event)"
        [matSortActive]="(sortingConf$ | async).active"
        [matSortDirection]="(sortingConf$ | async).direction"
        *ngSwitchCase="'cards'"
        class="sorting-panel">
        
        <tr>
            <th mat-sort-header="surname" disableClear
                matTooltip = "Sort clients by surname">

                Surname
            </th>
            <th mat-sort-header="name" disableClear
                matTooltip = "Sort clients by name">Name</th>
        </tr>
    </table>

    <div class="card-view mat-elevation-z8" *ngSwitchCase="'cards'">
            <app-client-card 
            *ngFor="let client of clients"
            [client]="client"
            >
            </app-client-card>
        </div>
    
</div>

