
<div class="container" [ngSwitch]="viewMode">
    <div class=list-view *ngSwitchCase="'list'">
        <app-clients-table
            [clients]="clients"
            (clientDeleteEvent)="onClientDeleteEvent($event)"
            (clientProfileEvent)="onClientProfileEvent($event)"
            (clientsSortEvent)="onclientsSortEvent($event)">

        </app-clients-table>        
    </div>

    <div class="card-view" *ngSwitchCase="'cards'">
        <app-client-card 
        *ngFor="let client of clients"
        [client]="client"
        (clientDeleteEvent)="onClientDeleteEvent($event)"
        (clientProfileEvent)="onClientProfileEvent($event)">
        </app-client-card>
    </div>
</div>

