<div class="container" [ngSwitch]="currentFrame">
    <app-deals-clients-selector
        *ngSwitchCase="'clientsSelector'"
        [selectedClient]="selectedClient"
        (cancelEvent)="onSelectorCancel()"
        (submitEvent)="onClientsSelectorSubmit($event)"
    >

    </app-deals-clients-selector>

    <app-deals-homes-selector
        *ngSwitchCase="'homesSelector'"
        [selectedHome]="selectedHome"
        [selectedClient]="selectedClient"
        (cancelEvent)="onSelectorCancel()"
        (submitEvent)="onHomesSelectorSubmit($event)"
        (backEvent)="onHomesSelectorBack()"
    >

    </app-deals-homes-selector>

    <app-deals-making-deal
        *ngSwitchCase="'dealsMaker'"
        [home]="selectedHome"
        [client]="selectedClient"
        (cancelEvent)="onSelectorCancel()"
        (submitEvent)="onDealsSelectorSubmit()"
        (backEvent)="onDealsSelectorBack()"
    >
    </app-deals-making-deal>

  
</div>

<!-- popup question -->
<app-popup-question
    *ngIf = "isPopupQuestion"
    [title] = "popupTitle"
    [text] = "text"
    (cancelEvent)="onCancel()"
    (submitEvent)="onSubmit()"
>
</app-popup-question>

<!-- deactivate popup -->
<app-popup-deactivate *ngIf="isCanDeactivatePopup"></app-popup-deactivate>


