 <div class="container">
    <mat-card elevation="20">
        <mat-card-header>
          <mat-card-title color="primary">User's profile</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="userForm">
                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Fullname</mat-label>
                    <input 
                        matInput 
                        placeholder="Surname Name"
                        type="text" 
                        formControlName="fullname"
                        maxlength="30"
                        >
                    <mat-icon matSuffix>face</mat-icon>

                    <mat-error *ngIf="userForm.controls['fullname'].invalid && (userForm.controls['fullname'].touched)">
                        Incorrect Fullname
                    </mat-error>
                </mat-form-field>
                <br>
    
                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input 
                        matInput 
                        formControlName="email"
                        >
                    <mat-icon matSuffix>alternate_email</mat-icon>
                </mat-form-field>
                <br>

                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Date of Birth</mat-label>
                    <input 
                        matInput
                        placeholder="dd.mm.yyyy"
                        [matDatepicker]="dp"
                        formControlName="birthday"
                        appMaxDateValidator="18"
                        appMinDateValidator="100"
                        >
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>

                    <mat-error *ngIf="userForm.controls['birthday'].hasError('dateValidator') 
                                    && (userForm.controls['birthday'].touched)">
                        Incorrect date
                    </mat-error>

                    <mat-error *ngIf="userForm.controls['birthday'].hasError('maxDateValidator')">
                        You are under 18 years old
                    </mat-error>

                    <mat-error *ngIf="userForm.controls['birthday'].hasError('minDateValidator')">
                        You are over 100 years old
                    </mat-error>
                </mat-form-field>
                <br>
    
                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Rate</mat-label>
                    <input 
                        matInput
                        placeholder="rate"
                        type="text" 
                        formControlName="rate"
                        >
                    <mat-icon matSuffix>attach_money</mat-icon>

                    <mat-error *ngIf="userForm.controls['rate'].invalid && (userForm.controls['rate'].touched)">
                        Incorrect number
                    </mat-error>
                </mat-form-field>
                <br>

                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Company</mat-label>
                    <input 
                        matInput 
                        placeholder="Company"
                        type="text" 
                        formControlName="company"
                        maxlength="30"
                        >
                    <mat-icon matSuffix>location_city</mat-icon>

                    <mat-error *ngIf="userForm.controls['company'].invalid 
                                    && (userForm.controls['company'].touched)">
                        Incorrect location
                    </mat-error>
                </mat-form-field>
                <br>
            </form>

            <table class="table">
                <tr>
                    <td>Registration date</td>
                    <td>{{user?.createdAt | date:'dd.MM.yyyy'}}</td>
                </tr>
                <tr>
                    <td>Completed deals</td>
                    <td>{{user?.level}}</td>
                </tr>
            </table>
        </mat-card-content>

        <mat-card-actions class="actions-wrapper">
            <button mat-raised-button
            (click)="onCancelButtonClick()">
                Cancel
            </button>

            <button mat-raised-button
            (click)="onCancelButtonClick()">
                Back
            </button>

            <button mat-raised-button
                class="button"
                color="primary"
                [disabled]="!userForm.valid"
                (click)="onSave()">
                Save
            </button>
        </mat-card-actions>
    </mat-card>
</div>

