<!-- 

    <div class="container">
    <form  #userProfileForm="ngForm"> 
        
        <div class="form-group">
            <label for="name">Name</label>
            <input 
                #name="ngModel"
                type="text" 
                class="form-control" 
                id="name"
                [ngModel] = "user?.name"
                (ngModelChange) = "user.name = $event"
                name="name"
                placeholder="Enter user's name"
                maxlength="20"
                pattern="[A-Za-zА-Яа-яЁё]+"
                required
               >
            <div class="alert" >
                <div class="alert-danger" *ngIf="name.invalid && (name.touched)">Incorrect name</div>
                <div> </div>
            </div>       
        </div>

         <div class="form-group">
            <label for="surname">Surname</label>
            <input 
                #surname="ngModel"
                type="text" 
                class="form-control" 
                id="surname"
                [ngModel] = "user?.surname"
                (ngModelChange) = "user.surname = $event"
                name="surname"
                placeholder="Enter user's surname"
                maxlength="25"
                pattern="[A-Za-zА-Яа-яЁё]+"
                required
               >
            <div class="alert">
                <div class="alert-danger" *ngIf="surname.invalid && (surname.touched)">Incorrect surname</div>
                <div> </div>
            </div>       
        </div>
      
        

        <div class="form-group">
            <label for="email">Email</label>
            <input 
                [disabled]="true"
                #email="ngModel"
                type="email" 
                class="form-control" 
                id="email" 
                required
                [ngModel] = "user?.email"
                (ngModelChange) = "user.email = $event"
                name="email"
                placeholder="Enter user's email"
                pattern= "\w[[A-Za-z0-9_]*[@]\w\S+$"
                >

            <div class="alert" 
                >
                <div class="alert-danger" *ngIf="email.invalid && (email.touched)">Incorrect email</div>
                <div> </div>
            </div>   
        </div>

        <div class="form-group">
            <label for="birthday">Birthday Date</label>
            <input 
                #birthday="ngModel"
                type="date" 
                class="form-control birthday" 
                id="birthday"
                [ngModel]="user?.birthday | date:'yyyy-MM-dd'"
                (ngModelChange)="onBirthdayChange($event)"
                pattern="\d\d\d\d-\d\d-\d\d"
                required
                name="birthday"
                placeholder="Enter user's Birthday Date"
                [appMaxDateValidator]="18"
                >

                <div class="alert" 
                >
                <div class="alert-danger" 
                *ngIf="(birthday.invalid ) && (birthday.touched) ">Incorrect Date</div>
                <div> </div>
                </div>     
        </div>

         <div class="form-group">
            <label for="price">Rate</label>
            <input 
                #rate="ngModel"
                type="text"
                class="form-control" 
                id="rate"
                [ngModel]="user?.rate | currency:'CAD':'symbol-narrow':'1.0-0':'fr'"
                (ngModelChange)="onRateChange($event)"
                pattern="[0-9,\s]*[$]{1}"
                required
                name="rate"
                placeholder="Enter rate"
                >

                <div class="alert" 
                >
                <div class="alert-danger" 
                *ngIf="rate.invalid && (rate.touched)">Incorrect rate</div>
                <div> </div>
                </div>     
        </div>

         <div class="form-group">
            <label for="company">Company</label>
            <input 
                #company="ngModel"
                type="text" 
                class="form-control" 
                id="company"
                [ngModel] = "user?.company"
                (ngModelChange) = "user.company = $event"
                name="company"
                placeholder="Enter company"
                maxlength="25"
                pattern="[A-Za-zА-Яа-яЁё/\s\d]*"
               >
            <div class="alert" 
                >
                <div class="alert-danger" *ngIf="company.invalid">Incorrect company</div>
                <div> </div>
            </div>       
        </div>

         <div class="form-group">
            <span class="label">Registration date</span>
            <span class="info">{{user?.createdAt | date:'dd-MM-yyyy'}}</span>
        </div>

         <div class="form-group">
            <span class="label">Completed deals</span>
            <span class="info">{{user?.level}}</span>
        </div>

        <div class="button-wrapper">
        <button type="button" class="button-cancel"
        (click)="onCancelButtonClick()"
        >Cancel</button>

        <button type="button" class="button-cancel"
        (click)="onCancelButtonClick()"
        >Back</button>
        
        <button type="submit" 
        class="button-submit"
        [disabled]="!userProfileForm.form.valid"
        (click)="onEditUser()"
        >Save</button>

        
        </div>


       

    </form>
    
    </div>
 -->

 <div class="container">
    <mat-card elevation="20">
        <mat-card-header>
          <mat-card-title color="primary">User's profile</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="userForm">
                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Fullname</mat-label>
                    <input 
                        matInput 
                        placeholder="Surname Name"
                        type="text" 
                        formControlName="fullname"
                        maxlength="30"
                        >
                    <mat-icon matSuffix>face</mat-icon>
                    <!-- <mat-hint>Type surname and name</mat-hint> -->
                    <mat-error *ngIf="userForm.controls['fullname'].invalid && (userForm.controls['fullname'].touched)">
                        Incorrect Fullname
                    </mat-error>
                </mat-form-field>
                <br>
    
                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input 
                        matInput 
                        formControlName="email"
                        >
                    <mat-icon matSuffix>alternate_email</mat-icon>
                </mat-form-field>
                <br>

                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Date of Birth</mat-label>
                    <input 
                        matInput
                        placeholder="dd.mm.yyyy"
                        [matDatepicker]="dp"
                        formControlName="birthday"
                        appMaxDateValidator="18"
                        appMinDateValidator="100"
                        >
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>

                    <mat-error *ngIf="userForm.controls['birthday'].hasError('dateValidator') 
                                    && (userForm.controls['birthday'].touched)">
                        Incorrect date
                    </mat-error>
                    <mat-error *ngIf="userForm.controls['birthday'].hasError('maxDateValidator')">
                        You are under 18 years old
                    </mat-error>
                    <mat-error *ngIf="userForm.controls['birthday'].hasError('minDateValidator')">
                        You are over 100 years old
                    </mat-error>
                </mat-form-field>
                <br>
    
                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Rate</mat-label>
                    <input 
                        matInput
                        placeholder="rate"
                        type="text" 
                        formControlName="rate"
                        >
                    <mat-icon matSuffix>attach_money</mat-icon>

                    <mat-error *ngIf="userForm.controls['rate'].invalid && (userForm.controls['rate'].touched)">
                        Incorrect number
                    </mat-error>
                </mat-form-field>
                <br>

                <mat-form-field class="form-control" appearance="outline">
                    <mat-label>Company</mat-label>
                    <input 
                        matInput 
                        placeholder="Company"
                        type="text" 
                        formControlName="company"
                        maxlength="30"
                        >
                    <mat-icon matSuffix>location_city</mat-icon>
                    <mat-error *ngIf="userForm.controls['company'].invalid 
                                    && (userForm.controls['company'].touched)">
                        Incorrect location
                    </mat-error>
                </mat-form-field>
                <br>
            </form>
            <table class="table">
                <tr>
                    <td>Registration date</td>
                    <td>{{user?.createdAt | date:'dd.MM.yyyy'}}</td>
                </tr>
                <tr>
                    <td>Completed deals</td>
                    <td>{{user?.level}}</td>
                </tr>
            </table>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button
            (click)="onCancelButtonClick()">
                Cancel
            </button>

            <button mat-raised-button
            (click)="onCancelButtonClick()">
                Back
            </button>

            <button mat-raised-button
                class="button"
                color="primary"
                [disabled]="!userForm.valid"
                (click)="onSave()"
            >
            Save
            </button>
        </mat-card-actions>
    </mat-card>
</div>

