/* .container {
    display: flex;
    flex: 0 1 150px;
    flex-direction: column;
    padding: 5px;
    margin-top: 20px;
}

.dashboard-wrapper, .homes-wrapper, .clients-wrapper, .deals-wrapper {
    display: flex;
    align-items: center;
    padding: 5px;
    text-shadow: 1px 1px 2px rgba(192, 192, 192);
}

.nav-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.homes-wrapper:hover, .clients-wrapper:hover, 
.deals-wrapper:hover, .dashboard-wrapper:hover {
    cursor: pointer;
    box-shadow: 3px 3px 6px 4px rgb(2, 116, 192);
    text-shadow: 1px 1px 2px rgba(0, 114, 188, 1);
 }

 .activated {
     outline: none;
     border: 3px groove rgba(0, 114, 188, 1);
     border-radius: 5px;
     background-color: 192, 192, 192;
     box-shadow: 3px 3px 6px 4px rgb(128,128,128, 1);
 }

 */

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.link-text {
    display: inline-block;
    margin-left: 10px;
}
