<mat-sidenav-container class="container" >
    <mat-sidenav-content
        color="primary"
        mode="side" 
        opened
        
        >
        <mat-nav-list>
            <a routerLink="/dashboard"
                routerLinkActive="activated"
                mat-list-item>
                <mat-icon>dashboard</mat-icon>
                <span class="link-text">Dashboard</span>
            </a>
            <a routerLink="/clients"
                routerLinkActive="activated"
                mat-list-item>
                <mat-icon>people</mat-icon>
                <span class="link-text">Clients</span>
            </a>
            <a routerLink="/homes"
                routerLinkActive="activated"
                mat-list-item>
                <mat-icon>house</mat-icon>
                <span class="link-text">Homes</span>
            </a>
            <a routerLink="/deals"
                routerLinkActive="activated"
                mat-list-item>
                <mat-icon>thumbs_up_down</mat-icon>
                <span class="link-text">Deals</span>
            </a>
        </mat-nav-list>
    </mat-sidenav-content>
</mat-sidenav-container>