<div class="container">
    <div class="dashboard-wrapper"
        routerLink='/dashboard'
        routerLinkActive="activated" >
        <img class="nav-img" src="../../../../../assets/images/statistic.png">
        <div class="nav-text-wrapper">
            <h3 class="nav-text">Dashboard</h3>
        </div>
    </div>
    
    <div class="clients-wrapper"
        routerLink="/clients"
        routerLinkActive="activated">
        
        <img class="nav-img" src="../../../../../assets/images/foto-card.png">
        <div class="nav-text-wrapper">
            <h3 class="nav-text">Clients</h3>
        </div>
    </div>
    
    <div class="homes-wrapper"
        routerLink="/homes"
        routerLinkActive="activated">
        <img class="nav-img" src="../../../../../assets/images/foto-house.png">
        <div class="nav-text-wrapper">
            <h3 class="nav-text">Homes</h3>
        </div>
        
    </div>
    
    <div class="deals-wrapper"
        routerLink="/deals"
        routerLinkActive="activated">
        <img class="nav-img" src="../../../../../assets/images/deal.png">
        <div class="nav-text-wrapper">
            <h3 class="nav-text">Deals</h3>
        </div>
        
    </div>
</div>
